@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    background-color: whitesmoke !important;
    color: black  !important;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #FFB100;
    height: 3.5rem;
}

.logo {
    margin-left: 1rem;
    background-color: #252598;
    width: 6.25rem;
    padding: 0.5rem;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}
.logo img {
    height: 3rem;
    width: 5rem;
}

.banner {
    margin-left: 15%;
    margin-right: 15%;
}
.banner img {
    height: 25rem;
    width: 100%;
}

.pfp-name {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pfp img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(17, 28, 28);
}
.name {
    margin-left: 1rem;
}
.name p {
    font-size: 2rem;
}

.feed {
    justify-content: center;
    background-color: #252598;
    margin-right: 25%;
    margin-left: 25%;
    padding: 1rem;
    border-radius: 5px;
}

.textfield-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.textfield-container div {
    width: 100%;
}

.mini-pfp {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(17, 28, 28);
}

.make-post-textfield {
    margin-left: 0.75rem;
    height: 2rem;
    width: 90%;
    border-radius: 20px;
}

.post-botton {
    margin-top: 1.5rem;
    margin-left: 85%;
}

/* Homepage Styles */

.logo img {
    width: 100px;
    height: 100px;
}

.banner img {
    width: 100%;
    height: auto;
}

.pfp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name p {
    font-size: 24px;
    font-weight: bold;
}

.feed {
    margin-top: 20px;
    width: 40rem;
}

#titulo {
    width: 95%;
}

#contenido {
    height: 6rem;
    width: 95%;
}

.post-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#comentario {
    margin-top: 20px;
}

#submit-button {
    margin-top: 1rem;
    border-radius: 8px;
}
#ver-posts-button {
    border-radius: 8px;
}