<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="..\assets\images\upc-logo-red.webp" type="image/webp">
    <link rel="stylesheet" href="..\css\registro-stylesheet.css">
    <link rel="stylesheet" href="..\css\universal-stylesheet.css">
    <title>TiAU Registro</title>
    <script>
        function validatePassword() {
            var password1 = document.getElementById("pass1").value;
            var password2 = document.getElementById("pass2").value;

            if(password1 != password2) {
                alert("Las contrasenias no coinciden! Por favor reingrese su contrasenia :3");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="filler">
        <div class="tiau-logo">
            <img src="..\assets\images\tiau-logo_svg.svg" alt="tiau-logo">
        </div>
        <div class="colors-filler">
            <div class="yellow-filler"></div>
            <div class="orange-filler"></div>
            <div class="pink-filler"></div>
        </div>
    </div>
    <div class="info-input-container">
        <div class="input-box">
            <div class="welcome-msg">
                <b>Bienvenido a TiAU!</b>
            </div>
            <div class="input-field">
                <b>Crear una cuenta nueva</b>
                <form action="/procesar_registro" method="post" onsubmit="return validatePassword();">
                    <div class="input-name INF">
                        <label for="input-nombre">Nombre</label>
                        <br>
                        <input class="input-primary" type="text" name="first_name" placeholder="Tu primer nombre" required>
                    </div>
                    <div class="input-email INF">
                        <label for="input-correo">Correo electronico</label>
                        <br>
                        <input class="input-primary" type="email" name="email" placeholder="ejemplo@email.com" required>
                    </div>
                    <div class="input-password INF">
                        <label for="input-contrasenia">Contrasenia</label>
                        <br>
                        <input class="input-primary" type="password" name="password1" id="pass1" placeholder="Contrasenia" required>
                    </div>
                    <div class="input-confirm-password INF">
                        <label for="input-confirm-contrasenia">Confirme contrasenia</label>
                        <br>
                        <input class="input-primary" type="password" name="password2" id="pass2" placeholder="Escriba su contrasenia de nuevo" required>
                    </div>
                    <input class="button-primary login-button" type="submit" value="Registrarse!">
                </form>
            </div>
        </div>
    </div>
</body>
</html>